{% extends "layout.html" %}

{% block title %}
    Add Image
{% endblock %}

{% block main %}
<form action="/create_container" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="ctrname" name="ctrname" placeholder="Container name" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="imgname" name="imgname" placeholder="Image name" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="cport" name="cport" placeholder="Inside container port" type="text">
    </div>
    <button class="btn btn-primary" type="submit">create container</button>
</form>
{% endblock %}